:root.theme-dark {
  --rec-display: block;
  --decor-color: var(--accent-color);
  --button-color: var(--accent-color);
  --button-hover-color: rgb(255 0 112 / 0.4);
  --button-active-border: var(--accent-color);
  --section-title-color: var(--accent-color);
}
