:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: rgb(255 241 247 / 1);
  --main-text-color: rgb(53 51 48);
  --accent-color: rgb(255 141 203 / 1);
  --title-color: rgb(255 194 230 / 1);
  --color-text-main: rgb(53 52 48 / 1);
  --text-main: rgb(53 52 48 / 1);
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after {
  border-color: var(--main-text-color);
}

.theme-light .header__rec::after {
  content: none;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--main-text-color);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--main-text-color);
  pointer-events: none;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgb(50 49 45 / 0.4);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-text-color);
}

.theme-light .content__section-title {
  color: var(--main-text-color);
}
