:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: rgb(255 241 247 / 1);
  --main-text-color: rgb(53 51 48);
  --accent-color: rgb(255 141 203 / 1);
  --title-color: rgb(255 194 230 / 1);
  --color-text-main: rgb(53 52 48 / 1);
  --text-main: rgb(53 52 48 / 1);
  --rec-display: none;
  --decor-color: var(--main-text-color);
  --button-color: var(--main-text-color);
  --button-hover-color: rgb(50 49 45 / 0.4);
  --button-active-border: var(--main-text-color);
  --section-title-color: var(--main-text-color);
  --text-color: rgb(53 52 48 / 1);
}

@media (prefers-color-scheme: light) {

  :root.theme-auto {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgb(255 241 247 / 1);
    --text-color: rgb(53 52 48 / 1);
    --main-text-color: rgb(53 52 48 / 1);
    --accent-color: rgb(255 141 203 / 1);
    --title-color: rgb(255 194 230 / 1);
    --color-text-main: rgb(53 52 48 / 1);
    --text-main: rgb(53 52 48 / 1);
    --section-title-color: rgb(53 52 48 / 1);
    --button-color: rgb(53 52 48 / 1);
    --decor-color: rgb(53 52 48 / 1);
    --rec-display: none;
    --button-hover-color: rgb(50 49 45 / 0.4);
    --button-active-border: rgb(53 52 48 / 1);
  }
}

.decorated-zone::before,
.decorated-zone::after {
  border-color: var(--decor-color);
}

.content__section-title {
  color: var(--section-title-color);
}

.header__rec {
  display: var(--rec-display);
}
