:root {
  --main-font: 'IBM Plex Mono', monospace;
  --bg-color: rgb(0 0 40 / 1);
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --main-text-color: rgb(241 178 206 / 1);
  --bg-image: url(../images/cover-image-dark.png);
  --main-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-main: #000028;
  --color-text-main: #000028;
  --rec-display: block;
  --decor-color: var(--accent-color);
  --button-color: var(--accent-color);
  --button-hover-color: rgb(255 0 112 / 0.4);
  --button-active-border: var(--accent-color);
  --section-title-color: var(--accent-color);
  --text-color: rgb(241 178 206 / 1);
}

@media (min-width: 768px) {

  :root {
    --main-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
